<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/security
 	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <security:http pattern="/resources/**" security="none" />
<http  use-expressions="true" disable-url-rewriting="true">
    <form-login login-page="/error" default-target-url="/"  always-use-default-target="false"
                authentication-failure-url="/login?error" username-parameter="name"
                password-parameter="password" />
    <logout logout-success-url="/?logout" />
    <csrf />
    <access-denied-handler error-page="/error" />
    <intercept-url pattern="/categories/newGrid/**" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/categories/grid/**/delete" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/categories/grid/**/edit" access="hasRole('ROLE_ADMIN')" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="a" password="a" authorities="ROLE_ADMIN" />
                <user name="u" password="u" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="my403" class="com.galprom.filter.AccessDenied">
        <beans:property name="errorPage" value="error" />
    </beans:bean>

</beans:beans>